*{
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
}

body{
    font-family: 'Roboto', 'Raleway', 'Montserrat', sans-serif;
    color: var(--text-color-main);
}

:root{
    --text-color-black: black;
    --text-color-main: #757575;
    --text-color-white: white;
    --background-color-darkgrey: #2F303A; 
    --background-color-lightgrey: #F5F4FA;
    --hover-color: #2196F3;
    --hover-second-color: #1586dd;
    --border-color-lightgrey: #ECECEC;
    --border-color-lightgrey-second: #EEEEEE;
    --border-color-transparent: transparent;
}

.box-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box-flex-section-second{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 1200px;
}

.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
}

.container-nav-second{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
}

.container-nav-left{
    display: flex;
    align-items: center;
}

.header-style{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--border-color-lightgrey);
    border-top: 1px solid var(--border-color-transparent);
    border-left: 1px solid var(--border-color-transparent);
    border-right: 1px solid var(--border-color-transparent);
    background-clip: border-box;
}

.footer-style{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color-darkgrey);
}

.web{
    color: var(--hover-color);
}

.studio-white{
    color: var(--text-color-white);
}

.studio-black{
    color: var(--text-color-black);
}

.address-style{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.street{
    color: var(--text-color-white);
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    letter-spacing: 0.03em;
}

.section-header{
    padding-top: 24px;
    padding-bottom: 25px;
}

.section-footer{
    padding-top: 60px;
    padding-bottom: 60px;
    width: 1200px;
    display: inline-flex;
}

.section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 94px;
}

.section-second{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-third{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--background-color-lightgrey);
}

.section-fourth{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 94px;
}

.section-main-heading{
    padding-top: 200px;
    padding-bottom: 230px;
}

.darkgrey-bcg-color{
    background-color: var(--background-color-darkgrey);
}

.background-img{
    background-image: linear-gradient( 0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100% ), url("../images/img4-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1600px;
    margin: 0 auto;
}

.main-heading{
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    color: var(--background-color-lightgrey);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.navigation{
    margin-left: 77px;
}

.link{
    color: var(--text-color-black);
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.02em;
    padding: 12px;
    margin: 0 4px;
}

.link:hover{
    color: var(--hover-color);
}

.link-second{
    color: var( --text-color-main);
    font-size: 14px;
    line-height: 1.1;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.02em;
    padding-right: 50px;
}

.link-third{
    color: var( --text-color-main);
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.03em;
}

.link-studio{
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0.03em;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
}

.images-mash{
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.btn{
    background-color: var(--hover-color);
    color: var(--background-color-lightgrey);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn:hover{
    background-color: var(--hover-second-color);
}

.btn-second{
    background-color: var(--background-color-lightgrey);
    color: var(--text-color-black);
    font-size: 16px;
    line-height: 1.2;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.03em;
    width: 121px;
    height: 38px;
    margin-top: 94px;
    margin-bottom: 30px;
}

.btn-third{
    background-color: var(--background-color-lightgrey);
    color: var(--text-color-black);
    font-size: 16px;
    line-height: 1.2;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.03em;
    width: 93px;
    height: 38px;
    margin-top: 94px;
    margin-bottom: 30px;
}

.btn-margin{
    margin-right: 8px;
}

.btn-second:hover, .btn-third:hover, .btn-second:focus, .btn-third:focus{
    color: var(--text-color-white);
    background-color: var(--hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.img-margin{
    margin-right: 30px;
}

.img-title{
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    color: var(--text-color-black);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.img-title-second{
    display: inline-block;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 24px;
    font-size: 18px;
    color: var(--text-color-black);
    line-height: 2;
    font-weight: 700;
    letter-spacing: 0.06em;
}

.img-describtion{
    display: block;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.img-describtion-second{
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    padding-left: 24px;
}

.black-title{
    color: var(--text-color-black);
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.black-title-second{
    color: var(--text-color-black);
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.paragraph-style{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.paragraph-style-social-links{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color-white);
}   

.figure-style{
    background-color: var(--text-color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 20px;
}

.figure-style-second{
    background-color: var(--text-color-white);
    border: 1px solid var(--border-color-lightgrey-second);
    padding-bottom: 20px;
}

.figure-style-second:hover{
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.text-color-lightblue{
    color: var(--hover-color);
}

.icon-contact{
    fill: var(--text-color-main);
}

.icon-contact:hover{
    cursor: pointer;
    fill: var(--hover-color);
}

.icon-contact:hover .link-second{
    color: var(--hover-color);
}

.icon-social-links{
    padding-left: 12px;
    padding-top: 12px;
    margin-left: 5px;
    margin-top: 12px;
    border-radius: 50%;
    fill: #AFB1B8;
}

.icon-social-links:hover{
    fill: var(--text-color-white);
    background-color: var(--hover-color);
    cursor: pointer;
}

.icon-social-links-second{
    fill: var(--text-color-white);
    margin-top: 3px;
    margin-right: 10px;
    padding-top: 12px;
    padding-left: 12px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
}

.icon-social-links-second:hover{
    background-color: var(--hover-color);
    cursor: pointer;  
}

.margin-left{
    margin-left: 32px;
}

.social-links{
    margin-left: 72px;
}

.icon-company{
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    background-color: var(--text-color-white);
    margin-left: 20px;
    margin-top: 12px;
}

.icon-company:hover{
    cursor: pointer;
    fill: var(--hover-color);
    border-color: var(--hover-color);
}